.blogs h1 {
  position: absolute;
  width: 439px;
  height: 68px;
  left: 33px;
  top: 5691px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #7cd401;
}
.light-green-ligne {
  position: absolute;
  width: 1527px;
  height: 9px;
  left: 174px;
  top: 5771px;
  background: #7cd401;
}
.blogs1 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 30px;
  top: 5836px;
}
.blogs2 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 596px;
  top: 5836px;
}
.blogs3 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 1162px;
  top: 5836px;
}
