.descriptionA {
  position: absolute;
  width: 1103px;
  height: 171px;
  left: 50px;
  bottom: -33%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.auteurA {
  position: absolute;
  width: 228px;
  height: 28px;
  left: 46px;
  top: 1200px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #e0dcdc;
}
.dateA {
  position: absolute;
  width: 174px;
  height: 18px;
  left: 46px;
  top: 1230px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 62px;
  /* or 310% */
  display: flex;
  align-items: center;

  color: #e0dcdc;
}
.etiquet-direct {
  position: absolute;
  width: 141.81px;
  height: 17.35px;
  left: 1595px;
  top: 115px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 48px;

  display: flex;
  align-items: center;
  color: #ffffff;
  backdrop-filter: blur(2px);

  position: absolute;
  width: 148.42px;
  height: 28.91px;

  background: #fb8e00;
}
.descriptionB {
  position: absolute;
  width: 391px;
  height: 75px;
  left: 1240px;
  top: 337px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.dateB {
  position: absolute;
  width: 85px;
  height: 30px;
  left: 1660px;
  top: 404px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.etiquet-sport {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;

  display: flex;
  align-items: center;

  color: #ffffff;

  backdrop-filter: blur(2px);

  position: absolute;
  width: 148.42px;
  height: 28.91px;
  left: 1590px;
  top: 530px;

  background: #068763;
}
.descriptionC {
  position: absolute;
  width: 391px;
  height: 75px;
  left: 1240px;
  top: 750px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.dateC {
  position: absolute;
  width: 85px;
  height: 30px;
  left: 1665px;
  top: 815px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.etiquet-live {
  background: #1837b6;

  position: absolute;
  width: 85px;
  height: 18px;
  left: 1660px;
  top: 940px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  display: flex;
  align-items: center;

  color: #ffffff;

  backdrop-filter: blur(2px);
}
.descriptionD {
  position: absolute;
  width: 415px;
  height: 75px;
  left: 1240px;
  top: 1170px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.dateD {
  position: absolute;
  width: 85px;
  height: 30px;
  left: 1660px;
  top: 1245px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 30px;

  display: flex;
  align-items: center;
  color: #f5f2f2;
}
.descriptionE {
  position: absolute;
  width: 464.07px;
  height: 77.17px;
  left: 15px;
  bottom: 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.auteurE {
  position: absolute;
  width: 165px;
  height: 31px;
  left: 15px;
  bottom: 20px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.dateE {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 12px;
  bottom: 3px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.descriptionF {
  position: absolute;
  width: 487px;
  height: 77px;
  left: 12px;
  bottom: 55px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.auteurF {
  position: absolute;
  width: 135px;
  height: 31px;
  left: 15px;
  bottom: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.dateF {
  position: absolute;
  width: 110px;
  height: 30px;
  left: 15px;
  bottom: 8px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #f5f2f2;
}
.descriptionG {
  position: absolute;
  width: 487px;
  height: 77px;
  left: 15px;
  bottom: 53px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.auteurG {
  position: absolute;
  width: 177px;
  height: 31px;
  left: 15px;
  bottom: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.dateG {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 15px;
  bottom: 8px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.descriptionH {
  position: absolute;
  width: 1071px;
  height: 297px;
  left: 30px;
  bottom: 140px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.auteurH {
  position: absolute;
  width: 291px;
  height: 63px;
  left: 30px;
  bottom: 40px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #e0dcdc;
}
.dateH {
  position: absolute;
  width: 174px;
  height: 63px;
  left: 30px;
  bottom: 10px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #e0dcdc;
}
.descriptionI {
  position: absolute;
  width: 487px;
  height: 77px;
  left: 20px;
  bottom: 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.auteurI {
  position: absolute;
  width: 177px;
  height: 31px;
  left: 22px;
  bottom: 20px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.dateI {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 22px;
  bottom: 1px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.descriptionJ {
  position: absolute;
  width: 487px;
  height: 77px;
  left: 20px;
  bottom: 120px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.auteurJ {
  position: absolute;
  width: 177px;
  height: 31px;
  left: 22px;
  bottom: 20px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #f5f2f2;
}
.dateJ {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 22px;
  bottom: 1px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #f5f2f2;
}
