.divertissement h1 {
  position: absolute;
  width: 439px;
  height: 68px;
  left: 33px;
  top: 5111px;
  color: #9d00a9;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  display: flex;
  align-items: center;
}
.velvet-ligne {
  position: absolute;
  width: 1527px;
  height: 9px;
  left: 174px;
  top: 5191px;
  background: #9d00a9;
}
.divertissement1 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 30px;
  top: 5256px;
}
.divertissement2 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 596px;
  top: 5256px;
}
.divertissement3 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 1162px;
  top: 5256px;
}
