.pub {
  position: absolute;
  width: 198px;
  height: 82px;
  left: 765px;
  top: 1697px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: rgba(228, 30, 19, 0.39);
}

.pub-img {
  position: absolute;
  width: 1668px;
  height: 191px;
  left: 30px;
  top: 1791px;
}
.pub-img2 {
  position: absolute;
  width: 1668px;
  height: 363px;
  left: 30px;
  top: 4094px;
}
.pub2 p {
  position: absolute;
  width: 198px;
  height: 82px;
  left: 765px;
  top: 4000px;
}
