.sport h1 {
  position: absolute;
  width: 439px;
  height: 68px;
  left: 33px;
  top: 4531px;
  color: #068763;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  display: flex;
  align-items: center;
}
.green-ligne {
  position: absolute;
  width: 1527px;
  height: 9px;
  left: 174px;
  top: 4611px;
  background: #068763;
}

.sport1 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 30px;
  top: 4676px;
}
.sport2 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 596px;
  top: 4676px;
}
.sport3 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 1162px;
  top: 4676px;
}
