.Best-edit h1 {
  position: absolute;
  width: 439px;
  height: 82px;
  left: 30px;
  top: 2057px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #f40f97;
}
.pink-ligne {
  position: absolute;
  width: 1527px;
  height: 9px;
  left: 171px;
  top: 2130px;
  background: #f40f97;
}
.best1 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 30px;
  top: 2220px;
}
.best2 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 596px;
  top: 2224px;
}
.best3 {
  position: absolute;
  width: 536.1px;
  height: 360.14px;
  left: 1162px;
  top: 2224px;
}
